{% extends 'base.html' %}

{% block title %}Boletines - VigiFIA{% endblock %}

{% block navbar_items %}
<li class="nav-item">
    <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'boletines' %}">Boletines</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'crear_boletin' %}">Crear Boletín</a>
</li>
{% endblock %}

{% block content %}
        <h1 class="mb-4">Boletines Informativos</h1>

        <form method="get" action="{% url 'boletines' %}" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select" name="categoria">
                        <option value="">Seleccionar Categoría</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria }}" {% if categoria == selected_categoria %}selected{% endif %}>{{ categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="date" class="form-control" name="fecha" value="{{ selected_fecha|default_if_none:'' }}">
                </div>
                <div class="col-md-4">
                    <select class="form-select" name="ubicacion">
                        <option value="">Seleccionar Ubicación</option>
                        {% for ubicacion in ubicaciones %}
                            <option value="{{ ubicacion }}" {% if ubicacion == selected_ubicacion %}selected{% endif %}>{{ ubicacion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                    <a href="{% url 'boletines' %}" class="btn btn-secondary">Limpiar Filtros</a>
                </div>
            </div>
        </form>

        <div class="row" id="boletines">
            {% for boletin in boletines %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ boletin.foto.url }}" class="card-img-top" alt="{{ boletin.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ boletin.titulo }}</h5>
                        <p class="card-text">Fecha: {{ boletin.fecha }}</p>
                        <p class="card-text">Categoría: {{ boletin.categoria }}</p>
                        <p class="card-text">Ubicación: {{ boletin.ubicacion }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p>No se encontraron boletines con los criterios seleccionados.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}