{% extends 'base.html' %}

{% block title %}Inicio - VigiFIA{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">VigiFIA</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Contenido Principal</h2>
        <p>Es un espacio que entrega información resultante del proceso de vigilancia, que realiza FIA, con la finalidad de aportar al conocimiento y toma de decisiones de los distintos actores de la cadena agroalimentaria y forestal. Aquí encontrarás información en formato o del tipo Boletines, Panoramas y Estudios, los que contienen distintos tipos de información tales como; noticias, publicaciones científicas, patentes, proyectos, políticas públicas, entre otras.</p>
    </div>
    <div class="col-md-4">
        <h3>Barra lateral</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'boletines' %}">Boletines Informativos</a></li>
            <li class="list-group-item"><a href="{% url 'crear_boletin' %}">Crear Nuevo Boletín</a></li>
            <li class="list-group-item"><a href="{% url 'listar_fuentes' %}">Fuentes</a></li>
            <li class="list-group-item">Soporte Técnico</li>
        </ul>
    </div>
</div>
{% endblock %}
